@use "../../styles/variables" as colors;

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;

  &__services {
    margin-top: 1rem;
    .service {
      background-color: rgba(colors.$primary, 0.5);
      height: 100%;
      border-radius: 1rem;
      padding: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      cursor: pointer;

      &:hover {
        background-color: #a8a8a8;
      }

      img {
        width: 100%;
        height: 100%;
        max-width: 100px;
        max-height: 100px;
        object-fit: contain;
      }

      &__name {
        font-weight: bold;
        //collapse: colors.$white;
      }
    }
  }
}
.service__modal {
  img {
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
  }
}