@use "../../styles/variables" as colors;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: colors.$white;

    &--right {
      display: none;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }

    &--mobile {
      svg {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
      }
    }
  }

  .logo {
    max-height: 2rem;
  }
}

.header__modal {
  height: 100vh;
  width: 100vw;
  justify-content: end;
  .modal-dialog {
    height: 100%;
    width: 100%;
    max-width: 300px;
    margin: 0;

    .modal-content {
      height: 100%;
      width: 100%;

      .header__modal-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .navbar__element {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    .navbar {
      &--right {
        display: flex;
      }
      &--mobile {
        display: none;
      }
    }
  }
}

